@import url('variables.css');
@font-face {
    font-family:'poppins';
    src: url('fonts/sans/poppins/Poppins-Regular.ttf');
}
/*-------Reset-------*/
*{
    font-family:'poppins', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    display: block;
}
