@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    /*--Typography--*/
    --sans-font: 'Poppins',Arial, Helvetica, sans-serif;
    /*--Colors--*/
    --background-color: #f0f0f0;
    --surface-color: #e4e4e4;
    --text-color: #2e2e2e;
    --primary-color: #2c6fff;
    --secondary-color: #242424;
    --dark-color: #1d1d1d;
    --light-color: #f1f1f1;
    /*primary colors #188fff, #2c6fff*/
    --secondary-color: #1f1f1f;
    --red-color: 0;
    --orange-color: 30;
    --blue-color: 240;
    --skyblue-color: 200;
    --cyan-color: 180;
    --pink-color: 330;
    --purple-color: 270;
    --magenta-color: 300;
    --neutral-color: 0;
    --yellow-color: 60;
    --green-color: 120;
    --s: 100%;
    /*--Borders--*/
    --border-radius: 4px;
    --border: 1px solid var(--text-color);
    /*--Spacing--*/
    --xs-spacing: 4px;
    --sm-spacing: 8px;
    --md-spacing: 12px;
    --lg-spacing: 24px;
    --xl-spacing: 48px;
    /*--Responsive Spacing--*/
    --sm--responsive-spacing: 12px;
    --md-responsive-spacing: 24px;
    --lg-responsive-spacing: 48px;
    /*--Components Variables--*/
    --background-component: #cacaca;
}
/*----------Reset----------*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: var(--sans-font);
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    overflow-wrap: break-word;
}
a{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
}
button,input[type="button"],
input[type="submit"],input[type="reset"]{
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-component);
    padding: var(--sm-spacing) var(--md-spacing);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font-family: inherit;
   
}
input[type="text"],input[type="email"],
input[type="password"],input[type="search"]{
    display: block;
    outline: none;
    padding: 8px 12px;
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: transparent;
}
select{
    padding: 8px 12px;
    background-color: var(--background-component);
    border-radius: var(--border-radius);
    border: none;
}

[class*="-100"]{
    background-color: var(--green-color);
    --l: 90%;
}
[class*="-200"]{
    background-color: var(--green-color);
    --l: 80%;
}
[class*="-300"]{
    background-color: var(--green-color);
    --l: 70%;
}
[class*="-400"]{
    background-color: var(--green-color);
    --l: 60%;
}
[class*="-500"]{
    background-color: var(--green-color);
    --l: 50%;
}
[class*="-600"]{
    background-color: var(--green-color);
    --l: 35%;
}
[class*="-700"]{
    background-color: var(--green-color);
    --l: 25%;
}
[class*="-800"]{
    background-color: var(--green-color);
    --l: 15%;
}
[class*="-900"]{
    background-color: var(--green-color);
    --l: 10%;
}
[class*="bg-red"]{
    background-color: hsl(var(--red-color),var(--s),var(--l));
}
[class*="bg-blue"]{
    background-color: hsl(var(--blue-color),var(--s),var(--l));
}
[class*="bg-orange"]{
    background-color: hsl(var(--orange-color),var(--s),var(--l));
}
[class*="bg-skyblue"]{
    background-color: hsl(var(--skyblue-color),var(--s),var(--l));
}
[class*="bg-cyan"]{
    background-color: hsl(var(--cyan-color) ,var(--s),var(--l));
}
[class*="bg-pink"]{
    background-color: hsl(var(--pink-color) ,var(--s),var(--l));
}
[class*="bg-purple"]{
    background-color: hsl(var(--purple-color)  ,var(--s),var(--l));
}
[class*="bg-magenta"]{
    background-color: hsl(var(--magenta-color) ,var(--s),var(--l));
}
[class*="bg-neutral"]{
    --s: 0%;
    background-color: hsl(var(--neutral-color),var(--s),var(--l));
}
[class*="bg-yellow"]{
    background-color: hsl(var(--yellow-color) ,var(--s),var(--l));
}
[class*="bg-green"]{
    background-color: hsl(var(--green-color) ,var(--s),var(--l));
}

