@font-face {
    font-family:'poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
@font-face {
    font-family:'fantasque';
    src: url(/fonts/monospace/fantasque/FantasqueSansMono-Regular.ttf);
}
:root{
    /*------typography------*/
    --primary-font: 'poppins';
    --monospace: 'fantasque';
    --border-radius: 0.4em;
    /*-colors-*/
    --primary-color: #188fff;
    --bg-color: #3a3a3a;
    --surface-color: gray;
    --text-color: #fff;
    --light-color: #fff;
    --dark-color: #000;

    --neutral-color: #808080;
    --red-color: red;
    --orange: orange;
    --yellow-color: yellow;
    --green-color: green;
    --violet-color: violet;
    --blue-color: blue;
    --sky-colo: skyblue;
    --pink-color: pink;
    /*-spacing-*/

}




