@use './variables' as *;

@each  $colorName,$color in $uiColors {
    .bg-#{$colorName}{
        background-color: $color;
    }
}

@each  $colorName,$color in $colors {
    
    @while $colorShades > 0{
        
        .bg-#{$colorName}-#{$counter}00{
            background-color: hsl(hue($color), saturation($color), $colorShades * 10%);
        }
        
        $colorShades: $colorShades - 1;
        $counter : $counter + 1;
    }
    
}
@each  $colorName,$color in $colors {
    
    @while $colorShades > 0{
        
        .color-#{$colorName}-#{$counter}00{
            color: hsl(hue($color), saturation($color), $colorShades * 10%);
        }
        
        $colorShades: $colorShades - 1;
        $counter : $counter + 1;
    }
    
}